<!DOCTYPE html>

<html>

<head>
    <title>Weather app | About</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <image src="/img/simge.jpg" class="portrait" />
    </div>

    {{>footer}}
</body>

</html>